<%= @params %>
<br>
<form action="/" method="get">
<%= label_tag(:start_code, "Flying from:") %>
<%= select_tag(:start_code, options_for_select(@airports_select, params[:start_code])) %>
<%= label_tag(:end_code, "Flying to:") %>
<%= select_tag(:end_code, options_for_select(@airports_select, params[:end_code])) %>
<%= label_tag(:date, "Date:") %>
<%= date_field_tag(:date, params[:date]) %>
<%= label_tag(:passengers, "Number of passengers:") %>
<%= number_field_tag(:passengers, 1, min: 1, max: 4) %>
<%= submit_tag("Find Flights", :name => nil) %>
</form>