<form action="/" method="get" class="form">
    <div class="options-container">
        <div class="search-item">
            <%= label_tag(:start_code, "Flying from:", class: "item-element") %>
            <%= select_tag(:start_code, options_for_select(@airports_select, params[:start_code]), class: "item-element", required: true) %>
        </div>
        <div class="search-item">
            <%= label_tag(:end_code, "Flying to:", class: "item-element") %>
            <%= select_tag(:end_code, options_for_select(@airports_select, params[:end_code]), class: "item-element", required: true) %>
        </div>
        <div class="search-item">
            <%= label_tag(:date, "Date:", class: "item-element") %>
            <%= date_field_tag(:date, params[:date], class: "item-element", required: true) %>
        </div>
        <div class="search-item">
            <%= label_tag(:passengers, "Number of passengers:", class: "item-element") %>
            <%= number_field_tag(:passengers, params[:passengers], min: 1, max: 4, class: "item-element", required: true) %>
        </div>
    </div>
    <div class="search-submit">
        <%= submit_tag("Find Flights", :name => nil, class: "item-element") %>
    </div>
    <% if @flights != nil %>
        <div class="routes-display">
            <% @flights.each do |f| %>
                <div class="route">
                    <a><%= f.start_airport.code %> to <%= f.end_airport.code %> on <%= f.date %> at <%= f.time_string %></a>
                </div>
            <% end %>
        </div>
    <% end %>
</form>