<%= @params %>
<br>
<%= form_tag('/', method: :get)%>
<%= label_tag(:start_airport_id, "Flying from:") %>
<%= select_tag(:start_airport_id, options_for_select(@start_airports_select, @selected_start)) %>
<%= submit_tag("Get Destinations", :name => nil) %>
</form>

<br>
Destination Airports:
<br>
<form action="/" method="get">
<%= select_tag(:end_airport_id, options_for_select(@destination_airports_select)) %>
<%= submit_tag("Find Flights", :name => nil) %>